@import "../global/variables";

.advantages {
  box-sizing: border-box;
  width: $mobile;
  margin: 0 auto;
  padding: 50px 20px (60px - 32px);
  text-align: center;
  font-weight: bold;

  @media (min-width: $tablet) {
    width: $tablet;
    padding: 60px 30px 100px;
  }

  @media (min-width: $desktop) {
    width: $desktop;
    padding: 100px 40px 120px;
  }
}

.advantages__title {
  margin: 0 0 4px;
  text-transform: uppercase;
  color: $base-primary;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
}

.advantages__subtitle {
  font-size: 24px;
  line-height: 36px;
  margin: 0 0 36px;

  @media (min-width: $tablet) {
    font-size: 42px;
    line-height: 64px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 80px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 30px;
    text-align: left;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 318px 317px 318px 317px;
    text-align: center;
  }
}

.advantages__item {
  box-sizing: border-box;
  margin-bottom: 32px;
  padding-top: 66px;
  background: top center no-repeat;

  &--speed {
    background-image: url("../../img/speed.svg");
  }

  &--comfort {
    background-image: url("../../img/comfort.svg");
  }

  &--energy {
    background-image: url("../../img/energy.svg");
  }

  &--ecology {
    background-image: url("../../img/ecology.svg");
  }

  @media (min-width: $tablet) {
    width: 339px;
    margin: 0;
    padding: 0 0 0 72px;
    background-position: 0 0;
  }

  @media (min-width: $desktop) {
    padding: 76px 0 0 0;
    width: auto;
    background-position: top center;
  }
}

.advantages__item-title {
  margin: 0 0 4px;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: $tablet) {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
  }
}

.advantages__item-description {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}
