@import "../global/variables";

.copyright {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet) {
    width: $tablet;
    padding: 0 20px 30px;
  }

  @media (min-width: $desktop) {
    width: $desktop - 80px;
    padding-bottom: 40px;
    justify-content: normal;
  }
}

.copyright__title {
  display: flex;
  font-size: 12px;
  gap: 3px;
  line-height: 16px;
  color: $base-grey;
  margin: 0;
  font-weight: normal;

  @media (min-width: $desktop) {
    margin: 0 auto;
  }
}

.copyright__link {
  display: flex;
  gap: 4px;
  color: inherit;
  text-decoration: none;
  fill: $base-grey;
  outline: none;

  @media (min-width: $tablet) {
    &:hover,
    &:focus {
      color: $base-primary;
      fill: $base-primary;
    }
  }

  &:active {
    color: $primary-darker;
    fill: $primary-darker;
  }
}
