.footer {
  box-sizing: border-box;
  min-height: 280px;

  @media (max-width: $tablet) {
    min-height: 465px;
  }

  @media (max-width: $mobile) {
    min-height: 280px;
  }
}

.footer__container {
  box-sizing: border-box;
  display: flex;
  max-width: 1280px;
  padding: 50px 30px;

  @media (max-width: $tablet) {
    box-sizing: border-box;
    padding: 50px 50px 65px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media (max-width: $mobile) {
    padding: 35px 0;
    justify-content: center;
  }
}

.footer__logo-title-container h2 {
  line-height: 25px;
  margin: 5px 0 5px;
}

.footer__section {
  @media (max-width: $mobile) {
    position: relative;
    box-sizing: border-box;
    padding: 0;

    &::after {
      top: 20px;
      right: 26px;
      pointer-events: none;
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      background-image: url("../img/footer/cross.svg");
      background-repeat: no-repeat;
    }

    &.is-active {
      &::after {
        background-image: url("../img/footer/minus.svg");
      }
    }

    &.is-active .footer__section-list {
      margin-bottom: 20px;
    }
  }
}

.footer__section h2 {
  margin: 5px 0 20px;
  font-size: 15px;
  line-height: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-transform: uppercase;
  color: $additional-white;
  font-weight: 400;
  letter-spacing: 0.05em;

  @media (max-width: $mobile) {
    margin: 0;
    padding: 20px 25px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:focus-visible {
      opacity: 0.5;
    }
  }
}

.footer__container-social {
  @media (max-width: $tablet) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  @media (max-width: $mobile) {
    flex-wrap: wrap;
    width: 320px;
  }
}

.footer__container-social > a {
  margin-right: 60px;
  margin-bottom: 30px;

  @media (max-width: $tablet) {
    margin-bottom: 35px;
  }

  @media (max-width: $mobile) {
    margin: 0 55px 15px 50px;
  }
}

.footer__social-list {
  display: flex;
  margin: 0 0 0 16px;
  padding: 0;
  list-style-type: none;
  gap: 15px;

  @media (max-width: $tablet) {
    margin-top: 5px;
    margin-right: -5px;
  }

  @media (max-width: $mobile) {
    margin: 0 83px 25px 87px;
  }
}

.footer__social-list a {
  display: block;
  padding: 5px;
  outline: none;

  &:hover,
  &:focus-visible {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__social-list-logo {
  display: block;
}

.footer__container-contacts {
  max-width: 345px;

  @media (max-width: $mobile) {
    width: 100%;
    max-width: none;
    border-bottom: 1px solid $footer-lines;
  }
}

.footer__contacts-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-style: normal;

  @media (max-width: $tablet) {
    width: 320px;
  }

  @media (max-width: $mobile) {
    width: 100%;
    padding: 0 25px;
  }
}

.footer__contacts-list p {
  margin: 0;
}

.footer__contacts-list a {
  display: block;
  text-decoration: none;
  color: $secondary-white;
  font-family: "PT Mono", monospace;
  font-size: 16px;
  line-height: 20px;
  outline: none;

  &:hover,
  &:focus {
    color: $secondary-blue;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $mobile) {
    max-width: 220px;
  }
}

.footer__container-links {
  margin-left: auto;

  @media (max-width: $tablet) {
    margin: 0 128px 0 0;
  }

  @media (max-width: $mobile) {
    margin: 0;
    width: 100%;
    border-bottom: 1px solid $footer-lines;
    border-top: 1px solid $footer-lines;
  }
}

.footer__links-list {
  display: grid;
  gap: 10px 30px;
  grid-template-columns: repeat(2, 220px);
  padding: 0;
  margin: 0 30px 0 0;
  list-style-type: none;

  @media (max-width: $tablet) {
    grid-template-columns: 220px;
    margin: 0;
  }

  @media (max-width: $mobile) {
    gap: 15px 30px;
    padding: 0 25px;
  }
}

.footer__link-list-item {
  @media (max-width: $tablet) {
    &--additional {
      order: 1;
    }
  }
}

.footer__link-list-item a {
  display: block;
  text-decoration: none;
  color: $secondary-white;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Mono", monospace;
  outline: none;

  &:hover,
  &:focus {
    color: $secondary-blue;
  }

  &:active {
    opacity: 0.7;
  }
}
