@import "../global/variables";

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;

  @media (min-width: $tablet) {
    width: $tablet;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 223px 222px 223px;
    align-items: start;
    gap: 30px;
  }

  @media (min-width: $desktop) {
    box-sizing: border-box;
    width: $desktop;
    grid-template-columns: 318px 317px 318px 317px;
    padding: 40px 40px 0;
    gap: 20px 30px;
  }
}

.footer__link {
  display: block;
  margin-right: auto;
  outline: none;

  @media (min-width: $tablet) {
    &:hover {
      opacity: 0.7;
    }
  }

  &:active,
  &:focus {
    opacity: 0.5;
  }

  @media (min-width: $desktop) {
    margin-bottom: 10px;
  }
}

.footer__logo {
  display: none;

  &--mobile {
    @media (max-width: $tablet - 1px) {
      display: block;
    }
  }

  &--tablet {
    @media (min-width: $tablet) {
      display: block;
    }
  }
}

.footer__list-container {
  width: $mobile;
  padding: 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;

  &--social {
    @media (min-width: $tablet) {
      padding: 40px 20px 0;
      width: 768px;
      grid-column: 1 / -1;
    }

    @media (min-width: $desktop) {
      width: auto;
      padding: 0;
      grid-column: auto;
    }
  }
}

.footer__list-text {
  display: none;

  @media (min-width: $desktop) {
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 50px;
  }
}

.footer__social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.footer__social-list-link {
  display: block;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  fill: $base-grey;

  @media (min-width: $tablet) {
    &:hover,
    &:focus {
      background-color: $base-secondary;
      fill: $base-primary;
    }
  }

  &:active {
    fill: $base-primary;
    background-color: $primary-opacity;
  }
}

.footer-line {
  height: 1px;
  width: 100%;
  box-shadow: 0 -1px 0 0 $base-secondary;

  @media (min-width: $tablet) {
    display: none;
  }
}

.footer-section {
  @media (min-width: $tablet) {
    width: 100%;
    box-sizing: content-box;
    padding: 0 0 0 20px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.footer-section__title {
  width: 100%;
  color: $base-primary;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  margin: 0 0 12px;

  &--contacts {
    margin: 0 0 20px;
  }
}

.footer-section__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;

  &--links {
    gap: 4px;
  }

  &--contacts {
    gap: 16px;
  }
}

.footer-section__link {
  display: block;
  padding: 8px 0;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: $base-black;
  outline: none;

  @media (min-width: $tablet) {
    &:hover,
    &:focus {
      color: $primary-lighter;
    }
  }

  &:active {
    color: $primary-darker;
  }
}

.footer-section__contact {
  margin: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: 0 2px;

  &--address {
    background-image: url("../../img/address.svg");
  }

  &--phone {
    background-image: url("../../img/phone.svg");
  }
}

.footer-section__contact-link {
  display: block;
  color: inherit;
  text-decoration: none;
  padding-left: 19px;
  outline: none;

  @media (min-width: $tablet) {
    &:hover,
    &:focus {
      color: $primary-lighter;
    }
  }

  &:active {
    color: $primary-darker;
  }
}
