.form {
  display: flex;
  font-family: "PT Mono", monospace;
  flex-wrap: wrap;
  gap: 20px 30px;
  padding-left: 5px;
  color: $additional-white;
  background-color: $secondary-blue;

  @media (max-width: $tablet) {
    padding: 0;
  }

  @media (max-width: $mobile) {
    display: block;
  }
}

.form__field {
  max-width: 275px;

  @media (max-width: $tablet) {
    max-width: 320px;
  }

  @media (max-width: $mobile) {
    max-width: 450px;
  }
}

.form__field input {
  width: 275px;

  @media (max-width: $tablet) {
    width: 320px;
  }

  @media (max-width: $mobile) {
    width: 100%;
    margin-top: 20px;
  }
}

.form__textarea textarea {
  width: 580px;
  margin-bottom: 15px;

  @media (max-width: $tablet) {
    width: 670px;
  }

  @media (max-width: $mobile) {
    width: 100%;
    min-width: 270px;
    height: 180px;
    margin-bottom: 30px;
  }
}

.form__button {
  order: 1;
  width: 265px;
  height: 45px;
  padding: 15px 25px;
  margin-right: 20px;
  margin-bottom: 25px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: $additional-white;
  background-color: $base-blue;

  @media (max-width: $tablet) {
    margin-right: 55px;
  }

  @media (max-width: $mobile) {
    display: block;
    margin: 0 auto 25px;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.form__checkbox {
  margin-top: 15px;
  padding-left: 26px;
  width: 260px;
  height: 30px;

  @media (max-width: $tablet) {
    margin-top: 10px;
  }

  @media (max-width: $mobile) {
    margin: 0 auto 25px;
  }
}

.form__checkbox,
.form__checkbox-mark,
.form__checkbox label {
  cursor: pointer;
}

.form__checkbox label {
  display: block;
}

.form__button-wrapper {
  display: flex;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}
