.header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  min-height: 120px;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);

  @media (max-width: $tablet) {
    position: static;
    min-height: 100px;
  }

  @media (max-width: $mobile) {
    min-height: 70px;
  }
}

.header__container {
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  padding: 0 60px;

  @media (max-width: $tablet) {
    width: 100%;
    padding: 20px 70px 0 50px;
    box-sizing: border-box;
    justify-content: space-between;
  }

  @media (max-width: $mobile) {
    min-width: 320px;
    padding: 10px 35px 0 26px;
  }
}

.header__container > a {
  margin-right: 30px;

  @media (max-width: $tablet) {
    margin: 0;
  }
}

.header__logo-icon {
  margin-top: 30px;

  @media (max-width: $tablet) {
    margin-top: 0;
  }

  @media (max-width: $mobile) {
    width: 35px;
    height: 35px;
    margin: 5px 0 0;
  }
}

.header__logo-title-container h2 {
  height: 25px;
  margin: 35px 0 5px;

  @media (max-width: $tablet) {
    margin-top: 5px;
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.header__logo-title-container span {
  @media (max-width: $mobile) {
    display: none;
  }
}
