@import "../global/variables";

.item {
  background-color: $base-white;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 20px 20px;
  border-radius: 4px;

  @media (min-width: $tablet) {
    box-sizing: border-box;
    width: 349px;
    padding: 50px 30px 30px;
  }

  @media (min-width: $desktop) {
    width: 317px;
  }
}

.item__link {
  display: flex;
  flex-direction: column;
  color: $base-black;
  text-decoration: none;
}

.item__image {
  width: 130px;
  height: 188px;
  margin: 0 auto 24px;

  @media (min-width: $tablet) {
    margin-bottom: 30px;
  }
}

.item__title {
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 4px;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}

.item__description {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 16px;

  @media (min-width: $tablet) {
    margin-bottom: 20px;
  }
}

.item__price {
  font-size: 20px;
  line-height: 36px;
  margin-right: auto;
  margin-left: -2px;
}

.item__button {
  padding: 8px 20px 8px 46px;
  min-width: 141px;
  font-size: 14px;
  line-height: 20px;
  background-image: url("../../img/catalog/button-cart.svg");
  background-repeat: no-repeat;
  background-position: 20px 10px;
}
