.main {
  position: relative;
  min-height: 880px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
    z-index: 1;
  }

  @media (max-width: $tablet) {
    min-height: 540px;
  }

  @media (max-width: $mobile) {
    min-height: 490px;
  }
}

.main__background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.main__container {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  padding: 305px 125px 280px;

  @media (max-width: $tablet) {
    max-width: 767px;
    padding: 80px 50px 205px;
  }

  @media (max-width: $mobile) {
    width: 320px;
    padding: 80px 25px;
  }
}

.main h1 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 80px;
  line-height: 90px;
  font-weight: 700;
  letter-spacing: 0.07em;
  color: $base-white;
  margin: 0 0 40px;
  text-transform: uppercase;

  @media (max-width: $tablet) {
    height: 60px;
    line-height: 75px;
    font-size: 64px;
    margin-bottom: 15px;
  }

  @media (max-width: $mobile) {
    font-size: 36px;
    line-height: 42px;
    height: 75px;
    margin-bottom: 17px;
  }
}

.main h2 {
  max-width: 685px;
  min-height: 70px;
  font-family: "PT Mono", monospace;
  font-weight: 400;
  line-height: 34px;
  font-size: 22px;
  color: $base-white;
  margin: 0 0 40px;

  @media (max-width: $tablet) {
    max-width: 670px;
    margin-bottom: 55px;
  }

  @media (max-width: $mobile) {
    font-size: 14px;
    line-height: 22px;
    min-height: 35px;
    margin-bottom: 44px;
  }
}

.main a {
  position: relative;
  display: block;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  background-color: $secondary-blue;
  width: 410px;
  padding: 15px 25px;

  &:hover,
  &:focus-visible {
    opacity: 0.7;
    outline: none;
  }

  &:active {
    opacity: 0.5;
  }

  &::after {
    content: "Получить бесплатную консультацию";
    display: block;
    top: 16px;
    left: 25px;
    width: 360px;
    min-height: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: $base-white;
  }

  @media (max-width: $tablet) {
    margin-left: 45px;
  }

  @media (max-width: $mobile) {
    width: 270px;
    padding: 10px 30px;
    margin: 0;
    font-size: 14px;
    line-height: 16px;

    &::after {
      content: "бесплатная консультация";
      font-size: 14px;
      line-height: 16px;
      top: 12px;
      left: 30px;
      width: 210px;
    }
  }
}
