@import "../global/variables";

.menu-button {
  background: url("../../img/burger.svg") no-repeat center;

  &:active {
    background-color: $base-secondary;
  }

  &--open {
    background-image: url("../../img/cross.svg");
  }
}
