@import "../global/variables";

.pagination-list {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $tablet) {
    justify-content: end;
  }
}

.pagination-list__link {
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  min-width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 4px;
  justify-content: center;
  background-color: $base-white;
  align-items: center;
  text-decoration: none;
  outline: none;
  fill: $base-primary;
  color: $base-primary;

  @media (min-width: $tablet) {
    &--additional {
      padding: 8px 20px;
    }

    &:hover,
    &:focus {
      color: $base-white;
      fill: $base-white;
      background-color: $primary-lighter;
    }
  }

  &:active {
    color: $base-white;
    fill: $base-white;
    background-color: $primary-darker;
  }

  &--current {
    font-weight: bold;
    color: $base-black;
    background: 0;
  }
}

.pagination-list__icon {
  @media (min-width: $tablet) {
    display: none;
  }
}

.pagination-list__text {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}
