@import "../global/variables";

.products__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 280px;
  margin: 0 0 40px;
  padding: 0;
  list-style-type: none;
  text-align: left;

  @media (min-width: $tablet) {
    width: 728px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop) {
    width: 1011px;
    padding-top: 54px;
    margin-bottom: 60px;
  }
}
