.products__container {
  box-sizing: border-box;
  max-width: 1280px;
  padding: 70px 30px 140px;

  @media (max-width: $tablet) {
    max-width: $tablet;
    width: 100%;
    padding: 60px 50px 75px;
  }

  @media (max-width: $mobile) {
    max-width: $mobile;
    padding: 50px 25px 86px;
  }
}

.products h2 {
  margin: 0 0 50px;
  font-size: 36px;
  line-height: 50px;
  color: $additional-white;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;

  @media (max-width: $tablet) {
    height: 85px;
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.products .products__title-mobile {
  display: none;

  @media (max-width: $mobile) {
    color: $additional-white;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 400;
    display: block;
    font-size: 28px;
    line-height: 39px;
    margin: 0 0 40px;
    height: 64px;
  }
}
