@import "../../global/variables";

.about {
  background-color: $background-white;
  padding-bottom: 100px;

  @media (max-width: $tablet) {
    padding-bottom: 80px;
  }
}

.about-container {
  box-sizing: border-box;
  padding: 5px 0 20px 250px;
  min-height: 320px;
  width: 1220px;
  margin: 0 auto;
  background-image: url("/img/2022.png");
  background-repeat: no-repeat;
  background-position: left;

  @media (max-width: $tablet) {
    width: 670px;
    min-height: 380px;
    padding: 0 0 0 175px;
    background-position: top left;
  }

  @media (max-width: $mobile) {
    width: 320px;
    min-height: 305px;
    padding: 0 25px 0;
    background: none;
  }
}

.about-title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $base-blue;
  font-size: 36px;
  line-height: 120%;
  height: 45px;
  font-weight: 400;
  margin: 0 0 15px;

  @media (max-width: $mobile) {
    font-size: 28px;
    line-height: 39px;
    height: 35px;
  }
}

.about-description-container {
  min-height: 170px;
  margin-bottom: 20px;
}

.about-description {
  font-family: "PT Mono", monospace;
  font-size: 16px;
  line-height: 120%;
  color: $base-blue;
  margin: 0 0 20px;

  @media (max-width: $mobile) {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
  }
}

.about-description__mobile {
  @media (max-width: $mobile) {
    display: none;
  }
}

.about-button {
  width: 180px;
  height: 45px;
  padding: 14px 12px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: $secondary-blue;
  background-color: $background-white;
  border: 1px solid $secondary-blue;

  @media (max-width: $mobile) {
    width: 160px;
    height: 35px;
    padding: 8px 15px;
  }
}
