.form {
  display: flex;
  font-family: "PT Mono", monospace;
  flex-wrap: wrap;
  gap: 20px 30px;
  padding-left: 5px;
  color: $additional-white;
  background-color: $secondary-blue;

  @media (max-width: $tablet) {
    padding: 0;
  }

  @media (max-width: $mobile) {
    display: block;
  }
}

.form__field input,
.form__textarea textarea {
  font-size: 16px;
  box-sizing: border-box;
  display: block;
  border-radius: 3px;
  border: 0;
  background-color: rgba(4, 20, 39, 0.15);
  color: $additional-white;
  outline: none;

  &::placeholder {
    color: $additional-white;
    opacity: 1;
  }

  &:hover,
  &:focus-visible {
    box-shadow: 0 0 0 2px $base-blue;
  }
}

.form__field input {
  width: 275px;
  height: 50px;
  padding: 15px;

  @media (max-width: $tablet) {
    width: 320px;
  }

  @media (max-width: $mobile) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.form__textarea textarea {
  width: 580px;
  height: 155px;
  resize: none;
  padding: 25px 15px;
  margin: 0 0 15px;

  @media (max-width: $tablet) {
    width: 670px;
  }

  @media (max-width: $mobile) {
    width: 100%;
    min-width: 270px;
    height: 180px;
    margin-bottom: 30px;
  }
}

.form__button {
  width: 265px;
  height: 45px;
  padding: 15px 25px;
  margin-right: 20px;
  margin-bottom: 25px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: $additional-white;
  background-color: $base-blue;

  @media (max-width: $tablet) {
    margin-right: 55px;
  }

  @media (max-width: $mobile) {
    display: block;
    margin: 0 auto 25px;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.form__checkbox {
  position: relative;
  box-sizing: border-box;
  margin-top: 15px;
  padding-left: 26px;
  width: 260px;
  height: 30px;
  font-family: "PT Mono", monospace;
  font-size: 14px;
  line-height: 16px;

  @media (max-width: $tablet) {
    margin-top: 10px;
  }

  @media (max-width: $mobile) {
    margin: 0 auto 25px;
  }

  &:hover .form__checkbox-mark,
  &:focus-visible .form__checkbox-mark {
    border-color: $base-blue;
  }

  &:active .form__checkbox-mark {
    border-color: $base-blue;
    opacity: 0.7;
  }
}

.form__checkbox,
.form__checkbox-mark,
.form__checkbox label {
  cursor: pointer;
}

.form__checkbox label {
  display: block;
}

.form__checkbox input {
  display: none;
}

.form__checkbox-mark {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid $additional-white;
  left: 0;
  top: 50%;
  bottom: 50%;
  margin: auto;
}

.form__checkbox input:checked ~ .form__checkbox-mark::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 7px;
  border-bottom: 1px solid $additional-white;
  border-right: 1px solid $additional-white;
  transform: rotate(45deg);
}
