@import "variables";

.page {
  height: 100%;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  background-color: $base-blue;
  color: $base-white;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  padding: 0;
  text-transform: uppercase;
  border-radius: 3px;
  border: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  cursor: pointer;
}
