$base-blue: #041827;
$base-white: #f2f5f6;

$additional-white: #ffffff;

$secondary-white: rgba(255, 255, 255, 0.7);

$footer-lines: rgba(248, 253, 255, 0.7);

$tablet: 1200px - 1px;
$mobile: 770px - 1px;
