$base-blue: #041827;
$base-white: #f2f5f6;

$background-white: rgba(248, 253, 255);
$border-white: #ebebeb;

$additional-white: #ffffff;

$secondary-white: rgba(255, 255, 255, 0.7);
$secondary-blue: #00b2ff;

$footer-lines: rgba(248, 253, 255, 0.7);

$tablet: 1220px - 1px;
$mobile: 770px - 1px;
