@import "../../global/variables";

.checkbox-list {
  margin-bottom: 12px;

  @media (min-width: $tablet) {
    margin: 0;
  }
}

.checkbox-list__label {
  display: flex;
  cursor: pointer;
}

.checkbox-list__input:hover + .checkbox-list__mark {
  background-color: $primary-opacity;
  box-sizing: border-box;
  border-color: $primary-lighter;

  &::after {
    left: 0;
  }
}

.checkbox-list__input:checked + .checkbox-list__mark {
  background-color: $base-primary;
  border-color: $base-primary;

  &::after {
    transform: translateX(18px);
  }
}

.checkbox-list__mark {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 42px;
  height: 24px;
  margin-right: 10px;
  border-radius: 12px;
  border: 2px solid $base-grey;
  background-color: $base-grey;
  transition: 300ms;

  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-color: $base-white;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    transition: 300ms;
  }
}

.checkbox-list__input:disabled + .checkbox-list__mark {
  background-color: $light-grey;
  border: 2px solid $light-grey;
}

.checkbox-list__input:disabled:checked + .checkbox-list__mark {
  &::after {
    background-color: $base-grey;
  }
}

.checkbox-list__input:disabled ~ .checkbox-list__name {
  color: $base-grey;
}
