@import "../../global/variables";

.radio-list__label {
  display: flex;
  cursor: pointer;
}

.radio-list__input:hover + .radio-list__mark {
  border-color: $primary-lighter;

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primary-opacity;
  }
}

.radio-list__input:checked + .radio-list__mark {
  border-color: $base-primary;

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $base-primary;
  }
}

.radio-list__input:disabled + .radio-list__mark {
  border-color: $light-grey;

  &::after {
    background-color: $light-grey;
  }
}

.radio-list__input:disabled ~ .radio-list__name {
  color: $base-grey;
}

.radio-list__mark {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid $base-grey;
  background-color: $base-white;
}
