@import "../../global/variables";

.range {
  display: flex;
  align-items: center;
  min-height: 24px;
  margin-bottom: 25px;
  padding: 0 12px;
}

.range__scale {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: $light-grey;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }

  &:disabled .range__connect {
    background-color: $base-grey;
  }

  &:disabled .range__handle {
    border-color: $base-grey;
  }
}

.range__base {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.range__connect {
  background-color: $primary-lighter;
  top: -1px;
  height: 4px;
}

.range__connect,
.range__origin {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 100%;
  transform-origin: 0 0;
  will-change: transform;
  transform-style: flat;
}

.range__handle {
  top: -11px;
  right: -12px;
  position: absolute;
  width: 24px;
  cursor: grab;
  height: 24px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid $primary-lighter;
  background-color: $base-white;
  outline: none;

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @media (min-width: $tablet) {
    &:hover,
    &:focus {
      &::after {
        position: absolute;
        background-color: $primary-opacity;
      }
    }
  }

  &:active {
    cursor: grabbing;

    &::after {
      position: absolute;
      background-color: $base-primary;
    }
  }
}
