@import "../../global/variables";

.footer {
  box-sizing: border-box;
  min-height: 280px;

  @media (max-width: $tablet) {
    min-height: 465px;
  }

  @media (max-width: $mobile) {
    min-height: 280px;
  }
}

.footer-container {
  box-sizing: border-box;
  display: flex;
  width: 1220px;
  padding: 50px 0;
  margin: auto;

  @media (max-width: $tablet) {
    width: 770px;
    padding: 50px 50px 65px;
    flex-wrap: wrap;
  }

  @media (max-width: $mobile) {
    width: 100%;
    padding: 35px 0;
    justify-content: center;
  }
}

.footer-logo {
  display: flex;
  margin-right: 160px;
  margin-bottom: 30px;
  text-decoration: none;

  @media (max-width: $tablet) {
    margin-bottom: 35px;
  }

  @media (max-width: $mobile) {
    margin: 0 55px 15px 50px;
  }
}

.footer-logo__icon {
  margin-right: 15px;
}

.footer-logo__title-container {
  display: flex;
  flex-direction: column;
}

.footer-logo__title {
  min-width: 145px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  margin: 5px 0 5px;
  color: $base-white;
}

.footer-logo__subtitle {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-section {
  @media (max-width: $mobile) {
    box-sizing: border-box;
    padding: 0;
    background-image: url("../img/cross.svg");
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background-position-x: right;

    &.is-active {
      background-image: url("../img/minus.svg");
    }

    &.is-active .footer-section__list {
      padding-bottom: 20px;
    }
  }
}

.footer-section h2 {
  margin: 5px 0 20px;
  font-size: 15px;
  line-height: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-transform: uppercase;
  color: $additional-white;
  font-weight: 400;
  letter-spacing: 0.05em;

  @media (max-width: $mobile) {
    margin: 0;
    padding: 20px 25px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:focus-visible {
      opacity: 0.5;
    }
  }
}

.footer-container-social {
  @media (max-width: $tablet) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  @media (max-width: $mobile) {
    flex-wrap: wrap;
    width: 320px;
  }
}

.footer-container-contacts {
  @media (max-width: $mobile) {
    width: 100%;
    padding-right: 25px;
    border-bottom: 1px solid $footer-lines;
  }
}

.footer-container-links {
  @media (max-width: $tablet) {
    margin-right: 130px;
  }

  @media (max-width: $mobile) {
    margin: 0;
    width: 100%;
    border-bottom: 1px solid $footer-lines;
    border-top: 1px solid $footer-lines;
  }
}
