@import "../../global/variables";

.footer__social-list {
  display: flex;
  margin: 0 0 0 16px;
  padding: 0;
  list-style-type: none;
  gap: 15px;

  @media (max-width: $tablet) {
    margin-top: 5px;
  }

  @media (max-width: $mobile) {
    margin: 0 83px 25px 87px;
  }
}

.footer__social-list-link {
  display: block;
  padding: 5px;
}

.footer__social-list-logo {
  display: block;
}
