@import "../../global/variables";

.footer__social-list {
  display: flex;
  margin: 0 0 0 16px;
  padding: 0;
  list-style-type: none;
  gap: 15px;

  @media (max-width: $tablet) {
    margin-top: 5px;
    margin-right: -5px;
  }

  @media (max-width: $mobile) {
    margin: 0 83px 25px 87px;
  }
}

.footer__social-list a {
  display: block;
  padding: 5px;
  outline: none;

  &:hover,
  &:focus-visible {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__social-list-logo {
  display: block;
}
